        <!-- Main Content -->
        <div class="container" style="width: 100%">
            <div class="container row" style="width: 100%">
                <div style="margin: 0; padding: 0;" class="col-md-6">
                    <div class="row">
                        <p style="font-weight: bold; font-size: 1.2em; text-decoration: underline;">ÚLTIMOS SERMÕES</p>
                        <div class="col-lg-10">
                            <div class="postagem">

                                <a href="post.html">
                                    <h2 class="titulo-postado">
                                        Teste de postagem
                                    </h2>
                                    <h3 class="subtitulo-postado">
                                        Problems look mighty small from 150 miles up
                                    </h3>
                                </a>
                                <p class="data-postagem">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014
                                </p>
                            </div>
                            <hr>
                            <div class="postagem">
                                <a href="post.html">
                                    <h2 class="titulo-postado">
                                        I believe every human has a finite number of heartbeats. I don't intend to waste
                                        any of mine.
                                    </h2>
                                </a>
                                <p class="data-postagem">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014
                                </p>
                            </div>
                            <hr>
                            <div class="postagem">
                                <a href="post.html">
                                    <h2 class="titulo-postado">
                                        Science has not yet mastered prophecy
                                    </h2>
                                    <h3 class="subtitulo-postado">
                                        We predict too much for the next year and yet far too little for the next ten.
                                    </h3>
                                </a>
                                <p class="data-postagem">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014
                                </p>
                            </div>
                            <hr>
                            <div class="postagem">
                                <a href="post.html">
                                    <h2 class="titulo-postado">
                                        Failure is not an option
                                    </h2>
                                    <h3 class="subtitulo-postado">
                                        Many say exploration is part of our destiny, but it’s actually our duty to
                                        future generations.
                                    </h3>
                                </a>
                                <p class="data-postagem">Posted by <a href="#">Start Bootstrap</a> on July 8, 2014</p>
                            </div>
                            <hr>
                            <!-- Pager -->
                            <ul class="pager">
                                <li class="next">
                                    <a href="#">Older Posts &rarr;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div style="margin: 0; padding: 0;" class="col-md-6">
                    <div class="row">
                        <p style="font-weight: bold; font-size: 1.2em; text-decoration: underline;">ÚLTIMOS ESTUDOS</p>
                        <div class="col-lg-10"> <!--Os posts ficam dentro desta div-->
                            <div class="postagem">
                                <a href="post.html">
                                    <h2 class="titulo-postado">
                                        Man must explore, and this is exploration at its greatest
                                    </h2>
                                    <h3 class="subtitulo-postado">
                                        Problems look mighty small from 150 miles up
                                    </h3>
                                </a>
                                <p class="data-postagem">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014
                                </p>
                            </div>
                            <hr>
                            <div class="postagem">
                                <a href="post.html">
                                    <h2 class="titulo-postado">
                                        I believe every human has a finite number of heartbeats. I don't intend to waste
                                        any of mine.
                                    </h2>
                                </a>
                                <p class="data-postagem">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014
                                </p>
                            </div>
                            <hr>
                            <div class="postagem">
                                <a href="post.html">
                                    <h2 class="titulo-postado">
                                        Science has not yet mastered prophecy
                                    </h2>
                                    <h3 class="subtitulo-postado">
                                        We predict too much for the next year and yet far too little for the next ten.
                                    </h3>
                                </a>
                                <p class="data-postagem">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014
                                </p>
                            </div>
                            <hr>
                            <div class="postagem">
                                <a href="post.html">
                                    <h2 class="titulo-postado">
                                        Failure is not an option
                                    </h2>
                                    <h3 class="subtitulo-postado">
                                        Many say exploration is part of our destiny, but it’s actually our duty to
                                        future generations.
                                    </h3>
                                </a>
                                <p class="data-postagem">Posted by <a href="#">Start Bootstrap</a> on July 8, 2014</p>
                            </div>
                            <hr>
                            <!-- Pager -->
                            <ul class="pager">
                                <li class="next">
                                    <a href="#">Older Posts &rarr;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
