
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <ul class="list-inline text-center">
                            <li>
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
                    </div>
                </div>
            </div>
        </footer>


        <!-- Contact Form JavaScript -->

        <script src="app/templates/adminbs5/blog/js/jqBootstrapValidation.js"></script>
        <script src="app/templates/adminbs5/blog/js/contact_me.js"></script>

        <!-- Theme JavaScript -->
        <script src="app/templates/adminbs5/blog/js/clean-blog.min.js"></script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var topMenu = document.getElementById('topMenu');
                var lastScrollTop = 0;

                window.addEventListener('scroll', function () {
                    var scrollTop = window.pageYOffset || document.documentElement.scrollTop;

                    if (scrollTop < lastScrollTop) {
                        // Rolando para baixo
                        topMenu.classList.remove('nav-up');
                    } else {
                        // Rolando para cima
                        topMenu.classList.add('nav-up');
                    }
                    lastScrollTop = scrollTop;
                });
            });
        </script>

